@import '../../../../styles/style-variables';

.textarea-container {
  height: 100%;
  width: 100%;
}

textarea {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  line-height: 1.5;
  font-size: 1rem;
  max-width: 100%;
  min-width: 100px;
  min-height: 300px;
  height: calc(100% - 3rem);
  resize: none;
  width: 100%;
}

input {
  width: 100%;
  margin-bottom: 1rem;
}
