@import '../../../../styles/style-variables';

.textarea-container {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

textarea {
  border: 1px dotted grey;
  line-height: 1.5;
  font-size: 1rem;
  max-width: 100%;
  min-width: 100px;
  min-height: 300px;
  height: calc(100% - 3rem);
  resize: none;
  width: 100%;
}

input {
  border: 1px dotted grey;
  width: 100%;
  margin-bottom: 1rem;
}
