<div class="preview-container" fxLayout="column" fxLayoutAlign="space-between">
  <div fxFlex="50%">
    <app-mulpericard-subtitle
      ><div>{{ username$ | async }}</div>
      <div>{{ date }}</div></app-mulpericard-subtitle
    >
    <h1>{{ titleValue }}</h1>
    <markdown ngPreserveWhitespaces [data]="editorValue"></markdown>
  </div>

  <app-mulpericard *ngIf="(authenticated$ | async)">
    <div fxLayoutAlign="center center">
      <app-chip
        *ngFor="let tag of tags"
        [name]="tag"
        (click)="removeTag(tag)"
      ></app-chip>
    </div>
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="16px">
      <app-mulpericard-actions>
        <label for="tags">Add tags:</label>
        <input
          (keyup)="tagInputKeyUp($event)"
          type="text"
          id="tags"
          placeholder="dogs, cats, amiga"
          #tagInputField
      /></app-mulpericard-actions>
      <div fxLayoutAlign="end center">
        <button
          mat-stroked-button
          (click)="onSave()"
          *ngIf="!(saving$ | async); else saving"
        >
          Save post
        </button>
        <ng-template #saving>
          <div class="text-container centered">
            <div>
              <h4>Saving post...</h4>
              <app-spinner></app-spinner>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </app-mulpericard>
</div>
