.mulpericard {
  // background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
  transition: all 0.5s;
}

.mulpericard:hover {
  transition: all 0.5s;
}
