<div class="feature-container">
  <app-header title="First login, change password"></app-header>

  <section class="form-container">
    <table>
      <tr>
        <td><label for="username">Username</label></td>
        <td>
          <input
            type="text"
            name="username"
            id="username"
            #usernameField
            [value]="username"
            disabled
          />
        </td>
      </tr>
      <tr>
        <td><label for="oldpassword">Old password</label></td>
        <td>
          <input
            type="text"
            name="oldpassword"
            id="oldpassword"
            #oldPasswordField
          />
        </td>
      </tr>
      <tr>
        <td><label for="newpassword">New password</label></td>
        <td>
          <input
            type="text"
            name="newpassword"
            id="newpassword"
            #newPasswordField
          />
        </td>
      </tr>
    </table>
  </section>

  <section *ngIf="(requiredAttributes$ | async) as requiredAttributes">
    <table>
      <tr *ngFor="let attribute of requiredAttributes">
        <td>
          <label [for]="attribute">{{ attribute }}</label>
        </td>
        <td><input type="text" [id]="attribute" [name]="attribute" /></td>
      </tr>
    </table>
  </section>

  <div>
    <!-- <button
      (click)="onClickSave(oldPasswordField.value, newPasswordField.value)"
    >
      Save
    </button> -->
  </div>
</div>
