<app-header
  title="Profile"
  subtitle="Your personal information and other cool stuff"
></app-header>

<div class="feature-container">
  <!-- <section *ngIf="(authenticated$ | async)">
    <app-mulpericard>
      <app-mulpericard-title>
        <div fxLayoutAlign="space-between center">
          <div>Authenticated</div>
          <div><i class="material-icons">check_circle</i></div>
        </div>
      </app-mulpericard-title>
      <app-mulpericard-actions fxLayoutAlign="end"> </app-mulpericard-actions>
    </app-mulpericard>
  </section> -->

  <app-mulpericard>
    <app-mulpericard-actions>
      <div
        fxLayoutAlign="space-between center"
        class="accordion-header"
        (click)="togglePersonalDetailsVisible()"
      >
        <div><h4>Personal details</h4></div>
        <div *ngIf="!personalDetailsVisible; else hide" class="select-none">
          <mat-icon>arrow_drop_up</mat-icon>
        </div>
        <ng-template #hide
          ><div class="select-none">
            <mat-icon>arrow_drop_down</mat-icon>
          </div></ng-template
        >
      </div>
    </app-mulpericard-actions>
    <app-personal-details *ngIf="personalDetailsVisible"></app-personal-details>
  </app-mulpericard>

  <app-mulpericard>
    <app-mulpericard-actions>
      <div
        fxLayoutAlign="space-between center"
        class="accordion-header"
        (click)="toggleOwnPostListVisible()"
      >
        <div><h4>Your posts</h4></div>
        <div *ngIf="!ownPostListVisible; else hide" class="select-none">
          <mat-icon>arrow_drop_up</mat-icon>
        </div>
        <ng-template #hide
          ><div class="select-none">
            <mat-icon>arrow_drop_down</mat-icon>
          </div></ng-template
        >
      </div>
    </app-mulpericard-actions>
    <app-own-postlist *ngIf="ownPostListVisible"></app-own-postlist>
  </app-mulpericard>

  <app-mulpericard>
    <app-mulpericard-actions>
      <div
        fxLayoutAlign="space-between center"
        class="accordion-header"
        (click)="(false)"
      >
        <div><h4>Your comments (coming soon)</h4></div>
        <div class="select-none">
          <mat-icon>arrow_drop_up</mat-icon>
        </div>
      </div>
    </app-mulpericard-actions>
    <app-own-commentlist></app-own-commentlist>
  </app-mulpericard>
</div>
