@import '../../../../styles/style-variables';

.spinner-container {
  display: flex;
  justify-content: center;
}

.spinner-container > div {
  background: royalblue;
  width: 20px;
  height: 20px;
  animation: stretch 0.5s infinite;
  border: 1px solid white;
}

.spinner-container > div:nth-child(2) {
  animation-delay: 0.1s;
}

@keyframes stretch {
  0% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}
