@import '../../../../styles/style-variables';
.chip {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  font-size: 0.75rem;
  padding: 4px 8px;
  margin: 4px;
}
