.mulpericard-container {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 2px;
  border: 1px solid rgba(255,255,255,0);
  background: rgba(255,255,255,0.4);
  transition: all 0.5s;
}

.mulpericard-container:hover {
  background: rgba(255,255,255,0.45);
  transition: all 0.5s;
}