<app-header title="Login"></app-header>

<section class="error centered" *ngIf="(error$ | async) as error">
  <p>{{ error }}</p>
</section>

<section
  class="form-container"
  *ngIf="!(authenticated$ | async); else authenticated"
>
  <table>
    <tr>
      <td><label for="username">Username</label></td>
      <td>
        <input type="text" name="username" id="username" #usernameField />
      </td>
    </tr>
    <tr>
      <td><label for="password">Password</label></td>
      <td>
        <input type="text" name="password" id="password" #passwordField />
      </td>
    </tr>
  </table>

  <div class="centered">
    <button (click)="onClickLogin(usernameField.value, passwordField.value)">
      Login
    </button>
  </div>
</section>

<ng-template #authenticated>
  <p class="centered-text success">
    <i class="material-icons">check_circle</i>
  </p>
  <p class="centered-text">
    You are succesfully authenticated, {{ username$ | async }}.
  </p>
  <div class="centered"><button>Sign out</button></div>
</ng-template>

<section *ngIf="(authenticating$ | async)">
  <h4>Authenticating...</h4>
  <app-spinner></app-spinner>
</section>
