@import '../../../../styles/style-variables';
header {
  // background: $primary;
  // color: $primary-text;
  box-sizing: border-box;
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

h4 {
  font-weight: 100;
}
