<app-mulpericard *ngIf="post">
  <app-mulpericard-header>
    <app-mulpericard-title>{{ post?.title }}</app-mulpericard-title>
    <app-mulpericard-actions>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div>{{ post?.author }}</div>
        <div>{{ post?.date }}</div>
      </div>
    </app-mulpericard-actions>
  </app-mulpericard-header>
  <app-mulpericard-body>
    <markdown>{{ post?.body }}</markdown>
    <app-mulpericard-actions fxLayoutAlign="end center">
      <app-chip *ngFor="let tag of post.tags" [name]="tag"></app-chip>
      <p class="italic" *ngIf="post.tags.length < 1">untagged</p>
    </app-mulpericard-actions>
  </app-mulpericard-body>
  <app-mulpericard-actions>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div><button mat-button (click)="onClickBack()">Back</button></div>
    </div>
  </app-mulpericard-actions>
</app-mulpericard>

<app-new-comment
  *ngIf="post && currentUser"
  [username]="currentUser"
  (saveComment)="onSaveComment($event)"
  [amountOfComments]="(comments$ | async).length"
></app-new-comment>

<!-- <h4 *ngIf="(comments$ | async).length > 0">Comments</h4> -->

<p *ngIf="(loadingComments$ | async)">Loading comments...</p>

<app-comment
  *ngFor="let comment of (comments$ | async)"
  [comment]="comment"
  [currentUser]="currentUser"
  (deleteComment)="onDeleteComment($event)"
></app-comment>
