<app-mulpericard *ngIf="post">
  <app-mulpericard-subtitle>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div>
        <h4>{{ post.author }}</h4>
      </div>
      <div>{{ post.date }}</div>
    </div>
  </app-mulpericard-subtitle>
  <app-mulpericard-body
    ><markdown>{{ post.body }}</markdown>
  </app-mulpericard-body>
  <app-mulpericard-actions>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div><a routerLink="/">Next</a></div>
      <div><a routerLink="/">Previous</a></div>
    </div>
  </app-mulpericard-actions>
</app-mulpericard>
