<app-header title="Sign in" subtitle=""></app-header>
<div class="feature-container">
  <app-mulpericard>
    <app-mulpericard-subtitle *ngIf="(error$ | async) as error">
      <p class="warn">{{ error }}</p>
    </app-mulpericard-subtitle>
    <app-mulpericard-body>
      <div fxLayout="column" fxLayoutAlign="center center">
        <h4 class="margin-bottom">Please sign in to use the editor.</h4>

        <div class="margin-bottom" fxLayoutAlign="center center">
          <table>
            <tr>
              <td><label for="username">Username or email</label></td>
              <td>
                <input
                  type="text"
                  name="username"
                  id="username"
                  placeholder="Username"
                  #usernameField
                />
              </td>
            </tr>
            <tr>
              <td><label for="password">Password</label></td>
              <td>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                  #passwordField
                />
              </td>
            </tr>
          </table>
        </div>

        <button
          mat-flat-button
          color="accent"
          *ngIf="!(authenticating$ | async); else authenticating"
          (click)="onClickSignIn(usernameField.value, passwordField.value)"
        >
          Sign in
        </button>
        <ng-template #authenticating> <app-spinner></app-spinner> </ng-template>
      </div>
    </app-mulpericard-body>
  </app-mulpericard>
</div>
