<div class="feature-container">
  <app-header
    title="Confirm your email address"
    subtitle="Retrieve the confirmation code from your email"
  ></app-header>

  <app-mulpericard *ngIf="(confirmed$ | async)">
    <app-mulpericard-title>Email confirmed!</app-mulpericard-title>
    <app-mulpericard-body>
      You can now <a routerLink="/signin">Sign in</a>
    </app-mulpericard-body>
  </app-mulpericard>

  <app-mulpericard *ngIf="!(confirmed$ | async)">
    <app-mulpericard-title> Email confirmation </app-mulpericard-title>
    <app-mulpericard-subtitle *ngIf="confirmationError">
      <p class="warn">{{ confirmationError }}</p>
    </app-mulpericard-subtitle>
    <app-mulpericard-body>
      <table>
        <tr>
          <td><label for="username">Username</label></td>
          <td>
            <input
              type="text"
              id="username"
              placeholder="Username"
              [value]="username$ | async"
              #usernameField
            />
          </td>
        </tr>
        <tr>
          <td><label for="code">Confirmation code</label></td>
          <td><input type="text" id="code" placeholder="Code" #codeField /></td>
        </tr>
      </table>
    </app-mulpericard-body>
    <app-mulpericard-actions *ngIf="!(confirming$ | async); else confirming">
      <button
        class="primary btn-medium"
        (click)="onClickConfirm(usernameField.value, codeField.value)"
      >
        Confirm email
      </button>
    </app-mulpericard-actions>
    <ng-template #confirming>
      <app-mulpericard-actions>
        <p>Confirming email...</p>
        <app-spinner></app-spinner>
      </app-mulpericard-actions>
    </ng-template>
  </app-mulpericard>
</div>
