@import '../../../../styles/style-variables';
.hero-container {
  background: $grey-darker;
  padding: 1rem;
}
.hero {
  background: $grey-darker;
  padding: 1rem;
  color: $grey-light;
  box-shadow: 0 0 10px $grey-darker;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
}

.hero h1 {
  font-weight: 100;
  font-size: 3rem;
  margin: 0;
}

.hero h2 {
  font-weight: 100;
  font-size: 1rem;
  margin: 0;
}
