<app-header
  title="Profile"
  subtitle="Your personal information and other cool stuff"
></app-header>

<div class="feature-container">
  <section *ngIf="(authenticated$ | async)">
    <app-mulpericard>
      <app-mulpericard-title>
        <div fxLayoutAlign="space-between center">
          <div>Authenticated</div>
          <div><i class="material-icons">check_circle</i></div>
        </div>
        <!-->i class="material-icons">check_circle</i-->
      </app-mulpericard-title>
      <app-mulpericard-body>
        <p>You are succesfully authenticated, {{ username$ | async }}.</p>
      </app-mulpericard-body>
      <app-mulpericard-actions fxLayoutAlign="end">
        <button mat-flat-button color="accent" (click)="onClickSignOut()">
          Sign out
        </button>
      </app-mulpericard-actions>
    </app-mulpericard>
  </section>

  <app-mulpericard>
    <app-mulpericard-actions>
      <div
        fxLayoutAlign="space-between center"
        class="accordion-header"
        (click)="toggleOwnPostListVisible()"
      >
        <div><h4>Your posts</h4></div>
        <div *ngIf="!ownPostListVisible; else hide">
          <mat-icon>arrow_drop_up</mat-icon>
        </div>
        <ng-template #hide
          ><div><mat-icon>arrow_drop_down</mat-icon></div></ng-template
        >
      </div>
    </app-mulpericard-actions>
    <ng-template [cdkPortalOutlet]="ownPostListVisible && ownPostListPortal">
    </ng-template>
  </app-mulpericard>
</div>
