@import '../../../../styles/style-variables';

:host {
  text-align: center;
  position: fixed;
  bottom: 5%;
  left: 50%;
  width: 300px;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

div {
  padding: 2rem;
}

.warn {
  color: $snackbar-warn;
}

.success {
  color: $snackbar-success;
}

.neutral {
  color: $snackbar-neutral;
}
