@import '../../../../styles/style-variables';

:host {
  text-align: center;
  position: fixed;
  bottom: 0%;
  right: 5%;
  width: 200px;
  height: 100px;
  z-index: 10;
}

div {
  padding: 1rem;
}

.warn {
  background: $warn;
  color: $warn-text;
}

.success {
  background: $success;
  color: $success-text;
}

.neutral {
  background: $primary;
  color: $primary-text;
}
