EDITOR FEATURE CONTAINER

<div>
  <textarea name="" id="" cols="30" rows="10" (keyup)="onEditorKeyUp($event)">
  # Blog Title
  #### Meaningful subtitle for your story

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, facere autem. Modi magnam tempore voluptas alias corporis officiis nihil iusto libero! Sequi optio fugit, consequuntur esse deleniti maxime rem nihil?
</textarea
  >
</div>
<div class="preview">
  <markdown ngPreserveWhitespaces [data]="editorValue"></markdown>
</div>
