<app-mulpericard
  *ngFor="
    let post of (posts
      | slice: page * itemsPerPage:page * itemsPerPage + itemsPerPage)
  "
>
  <app-mulpericard-subtitle>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div>
        <h4>{{ post.author }}</h4>
      </div>
      <div>{{ post.date }}</div>
    </div>
  </app-mulpericard-subtitle>
  <app-mulpericard-subtitle> </app-mulpericard-subtitle>

  <app-mulpericard-body>
    <markdown> {{ post.body }} </markdown>
  </app-mulpericard-body>

  <app-mulpericard-actions>
    <a routerLink="/posts/{{ post.id }}">Read more</a>
  </app-mulpericard-actions>
</app-mulpericard>

<app-mulpericard *ngIf="errorMessage">
  <app-mulpericard-subtitle>
    <p class="warn">ERROR</p>
  </app-mulpericard-subtitle>
  <app-mulpericard-body> {{ errorMessage }} </app-mulpericard-body>
</app-mulpericard>

<div
  *ngIf="getPages() > 0"
  fxLayout="row"
  fxLayoutAlign="space-evenly"
  class="controls-container"
>
  <button
    mat-flat-button
    color="accent"
    [disabled]="page == 0"
    (click)="onPreviousClick()"
  >
    Previous page
  </button>
  <div fxLayoutAlign="center center" class="page-count">
    <p>Page {{ page + 1 }} of {{ getPages() }}</p>
  </div>
  <button
    mat-flat-button
    color="accent"
    [disabled]="isLastPage()"
    (click)="onNextClick()"
  >
    Next page
  </button>
</div>

<div *ngIf="(postsLoading$ | async)">
  <div fxLayoutAlign="center center"><h4>Loading posts...</h4></div>
  <app-spinner></app-spinner>
</div>
