<p *ngIf="posts.length < 1 && !errorMessage">No posts yet.</p>

<app-post-listitem
  [post]="post"
  *ngFor="
    let post of (posts
      | slice: page * itemsPerPage:page * itemsPerPage + itemsPerPage)
  "
></app-post-listitem>

<app-error-message
  *ngIf="errorMessage"
  [errorMessage]="errorMessage"
></app-error-message>

<div
  *ngIf="getPages() > 0"
  fxLayout="row"
  fxLayoutAlign="space-evenly"
  class="controls-container"
>
  <button mat-button [disabled]="page == 0" (click)="onPreviousClick()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div fxLayoutAlign="center center" class="page-count">
    <p>Page {{ page + 1 }} of {{ getPages() }}</p>
  </div>
  <button mat-button [disabled]="isLastPage()" (click)="onNextClick()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div *ngIf="(postsLoading$ | async)">
  <div fxLayoutAlign="center center"><h4>Loading posts...</h4></div>
  <app-spinner></app-spinner>
</div>
