<app-mulpericard
  *ngFor="
    let post of (posts
      | slice: page * itemsPerPage:page * itemsPerPage + itemsPerPage)
  "
>
  <app-mulpericard-title> {{ post.title }} </app-mulpericard-title>

  <app-mulpericard-subtitle>
    {{ post.date }}, {{ post.author }}
  </app-mulpericard-subtitle>

  <app-mulpericard-body>
    <markdown> {{ post.body }} </markdown>
  </app-mulpericard-body>

  <!-- <app-mulpericard-actions>
    <a routerLink="/posts/{{ post.id }}">Read more</a>
  </app-mulpericard-actions> -->
</app-mulpericard>

<div *ngIf="errorMessage" class="error-message text-container">
  {{ errorMessage }}
</div>

<div *ngIf="getPages() > 0" class="controls-container">
  <button [disabled]="page == 0" (click)="onPreviousClick()">
    Previous page
  </button>
  <div class="centered page-count">
    <p>Page {{ page + 1 }} of {{ getPages() }}</p>
  </div>
  <button [disabled]="isLastPage()" (click)="onNextClick()">Next page</button>
</div>

<div *ngIf="(postsLoading$ | async)" class="centered-text">
  <h4>Loading posts...</h4>
  <app-spinner></app-spinner>
</div>
