@import './style-variables';

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  height: 100%;
  line-height: 1.5;
}

body {
  margin: 0;
  background: $grey-light;
  color: $grey-dark;
  height: 100%;
}

app-core {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-toolbar {
  z-index: 2;
}

main {
  flex: 1;
}

.feature-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

a {
  color: $grey-dark;
  font-weight: bold;
}

a:hover {
  color: $primary;
}

a:focus {
  color: $primary;
}

a:active {
  color: black;
}

img {
  max-width: 100%;
}

.word-break {
  word-break: break-all;
}

.margin-bottom {
  margin-bottom: 3rem;
}
