@mixin mulperi-boilerplate(
  $primary-bg,
  $primary-text,
  $warn-bg,
  $warn-text,
  $success-bg,
  $success-text,
  $border-dark
) {
  * {
    box-sizing: border-box;
  }

  .text-align-center {
    text-align: center;
  }

  button:disabled {
    background: grey;
    color: rgba(255, 255, 255, 0.4);
  }

  button {
    background: none;
    border: 0;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
  }

  button:focus {
  }

  .success {
    background: $success-bg;
    color: $success-text;
  }

  .primary {
    background: $primary-bg;
    color: $primary-text;
  }

  button .primary:active {
    background: darkblue;
  }

  .primary:disabled {
    background: lightblue;
  }

  .warn {
    background: $warn-bg;
    color: $warn-text;
  }

  button .warn:active {
    background: darkred;
  }

  .warn:disabled {
    background: lightpink;
  }

  .btn-medium {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .btn-large {
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
  }

  .flex {
    display: flex;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .margin-top-small {
    margin-top: 1rem;
  }
  .margin-top-medium {
    margin-top: 2rem;
  }

  .justify-center {
    justify-content: center;
  }
  .justify-end {
    justify-content: flex-end;
  }
  .justify-space-between {
    justify-content: space-between;
  }

  .align-center {
    align-items: center;
  }

  .column {
    flex-direction: column;
  }

  .wrap {
    flex-wrap: wrap;
  }
  .weight-400 {
    font-weight: 400;
  }
  .height-100 {
    height: 100%;
  }

  input {
    border-radius: 2px;
    border: 1px solid $border-dark;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.25rem;
  }

  input::placeholder {
    color: lightgrey;
  }

  input:disabled {
    color: grey;
    border: grey;
  }
}
