$grey-dark: rgb(90, 90, 90);
$pop: royalblue;

$dark: rgb(30, 30, 30);
$light: whitesmoke;

$border-radius-card: 4px;

$success: green;
$warn: red;
$neutral: royalblue;

$snackbar-success: palegreen;
$snackbar-warn: lightpink;
$snackbar-neutral: powderblue;
