$grey-dark: rgb(90, 90, 90);

$dark: rgb(30, 30, 30);
$light: whitesmoke;

$border-radius-card: 4px;

$warn-bg: rgb(255, 91, 91);
$warn-text: white;
$primary-bg: royalblue;
$primary-text: white;
$success-bg: rgb(127, 255, 127);
$success-text: black;
