@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,400,700');
@import './style-variables';

* {
  box-sizing: border-box;
}

html {
  font-family: 'IBM Plex Mono', monospace;
  height: 100%;
  line-height: 1.5;
}

body {
  margin: 0;
  background: $light;
  color: $grey-dark;
  height: 100%;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
  padding: 1rem;
  flex: 1;
  max-width: 640px;
}

app-footer {
  width: 100%;
}

a {
  color: rgb(90, 38, 0);
  font-weight: 700;
  text-decoration: underline;
}

.centered {
  display: flex;
  justify-content: center;
}

.centered-text {
  text-align: center;
}

button {
  background: $grey-dark;
  border-radius: 2px;
  color: $light;
  cursor: pointer;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
}

button:disabled {
  background: grey;
  color: rgba(255, 255, 255, 0.4);
}

.success {
  color: $success;
}

.text-container {
  padding: 1rem;
}

.error-message {
  background: lightpink;
  color: $grey-dark;
}
