<div class="toolbar-container">
  <a routerLink="">
    <section class="logo">
      <div class="logo__row">
        <div></div>
        <div class="logo__fill"></div>
        <div></div>
      </div>
      <div class="logo__row">
        <div class="logo__fill"></div>
        <div class="logo__fill"></div>
        <div></div>
      </div>
      <div class="logo__row">
        <div></div>
        <div class="logo__fill"></div>
        <div class="logo__fill"></div>
      </div>
      <div class="logo__row">
        <div></div>
        <div class="logo__fill"></div>
        <div></div>
      </div></section
  ></a>
  <nav>
    <a
      routerLink="/posts"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ><div class="nav__button flex align-center">
        <i class="material-icons">subject</i>
      </div></a
    >
    <a routerLink="/editor" routerLinkActive="active"
      ><div class="nav__button flex align-center">
        <i class="material-icons">create</i>
      </div></a
    >
    <!-- <ng-template #notAuthenticated>
      <a class="disabled"><div>Editor</div></a>
    </ng-template> -->
    <a routerLink="/signin" routerLinkActive="active"
      ><div class="nav__button flex align-center">
        <i class="material-icons">face</i>
      </div></a
    >
  </nav>
</div>
