@import '../../../../styles/style-variables';

.toolbar-container {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding-left: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: $grey-dark;
  text-decoration: none;
}

a:hover {
  color: $primary;
}

.nav__button {
  padding: 1.5rem;
  box-sizing: border-box;
}

.active .nav__button {
  color: $primary;
  box-sizing: border-box;
}

.logo__row > div {
  width: 10px;
  height: 10px;
  margin: 0px;
}

div.logo__row {
  display: flex;
}
.logo:hover .logo__fill {
  background: $primary;
  transition: 0.1s all;
}

.logo__fill {
  background: $grey-dark;
  box-shadow: 0 0 0px $grey-dark;
  transition: 0.1s all;
}
