@import '../../../../styles/style-variables';

.toolbar-container {
  background: $grey-darker;
  color: $grey-lighter;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  padding-left: 2rem;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: $grey-dark;
  text-decoration: none;
}

a:hover {
  color: $grey-light;
}

.nav__button {
  padding: 1.5rem;
  box-sizing: border-box;
}

.active .nav__button {
  // border-top: 10px solid $light;
  background: $grey-lighter;
  color: $grey-darker;
  box-sizing: border-box;
}

.logo__row > div {
  border: 0px solid red;
  width: 10px;
  height: 10px;
  margin: 0px;
}

div.logo__row {
  display: flex;
}
.logo:hover .logo__fill {
  // box-shadow: 0 0 4px $grey-dark;
  background: $grey-light;
  transition: 0.1s all;
}

.logo__fill {
  background: $grey-dark;
  box-shadow: 0 0 0px $grey-dark;
  transition: 0.1s all;
}
