@import '../../../../styles/style-variables';

.toolbar-container {
  background: black;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 3px;
}

div:not(.toolbar-container) {
  padding: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}

.active > div {
  border-top: 4px solid white;
}
